footer{
    width: 100%;
}
.myfooter{
    background-color: #eee;
    min-height: 100px;
    position: relative;
    z-index: 2;

}
svg.footersvg{
    position: relative;
    bottom: -5px;
    color: #1548a7;
}

.myfooter .link-box{
    text-align: center;
}

.myfooter .link-box a{
    margin: 0px 5px;
    font-family: lalezar;
}
